@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  font-family: "Almarai", sans-serif;
  --main-color: #a6225b;
  --alt-color: #f9d6b4;
  --sec-background: #fffbf7;
}
html{
  scroll-behavior: smooth;
}
.text-main {
  color: var(--main-color);
}
.text-alt {
  color: var(--alt-color);
}
.bg-main {
  background-color: var(--main-color);
}
.bg-alt {
  background-color: var(--alt-color);
}
.bg-sec {
  background-color: var(--sec-background);
}
